[2020-05-10 16:33] armintoepfer opened #1 "License"
Hi!

Great work. Any chance that you would consider relicensing to a more permissive license or offer a one time relicensing?

Thank you!

[2020-05-11 01:24] yangao07 commented on #1
Hi,
Thanks for your interest in abPOA!

What is your purpose of using abPOA?
I am actually not very familiar with all those license types.
 Are you referring to the MIT license?

Yan

[2020-05-11 07:56] armintoepfer commented on #1
I intend to benchmark it for various use cases, where I'm currently using SPOA, and then possible integrate it into PacBio software as an alternative to SPOA. As we use BSD-3, I'm not allowed to integrate GPL software. MIT is an example that would be good. Examples for MIT software: SPOA and minimap2.

[2020-05-11 08:13] yangao07 commented on #1
I just changed it to MIT.
Do you need the file in the release also be changed?

[2020-05-11 08:20] armintoepfer commented on #1
No that's fine, I'll get it from git directly. Thank you very much. Expect bug reports flying in, in case we find issues :)

[2020-05-11 08:20] #1 closed

[2020-05-11 08:21] yangao07 commented on #1
Sure.
Bug reports and any kinds of suggestions are welcome!

[2020-09-19 05:27] ekg opened #2 "GFA output"
Have you considered adding GFA output to abPOA?

I am likely to make a patch to do this, but I wouldn't mind if you beat me to it. 🙂

[2020-09-19 08:25] yangao07 commented on #2
Thanks for the suggestion!
That should not be very hard to do, I will give it a try!

[2020-09-19 11:36] ekg commented on #2
Ideally it would match what's in spoa. It records the walks made by the
sequences through the graph as P lines. Should be straightforward if you're
making the MSA.

On Sat, Sep 19, 2020, 10:25 Yan Gao <notifications@github.com> wrote:

[2020-09-20 09:21] armintoepfer opened #3 "Are input QVs meaningful?"
Hi!

Quick question: From SPOA I've learned that leveraging per-base quality values to weight nodes in the graph increases the accuracy of the generated consensus, especially using PacBio HiFi as input. Have you experimented with such feature?

Thanks,
Armin

[2020-09-21 07:28] yangao07 commented on #3
Hi Armin,

Right now abPOA does not use any quality information in the FASTQ file input.
We do plan to implement something like SPOA does to make use of the quality score during the consensus calling step.
Will keep you posted if we make any updates on that.

Yan

[2020-09-22 03:19] yangao07 commented on #2
Hi Erik,

I just updated the abPOA repo, please try out the GFA format output with parameter '-r4'.
Let me know if this works for you!

Yan

[2020-09-22 11:58] ekg commented on #2
Hey! This looks great. Here's one of the graphs I made with it.

[code]

In Bandage:

![graph](https://user-images.githubusercontent.com/145425/93878410-522d6c00-fcda-11ea-9d6b-2f0ac2b0a1f7.png)

This is the view of the graph given by odgi viz:

[code]

![DRB1-3123 abpoa og viz](https://user-images.githubusercontent.com/145425/93878697-c9fb9680-fcda-11ea-84cc-6286033be1bc.png)

And this will show

[2020-09-23 12:41] subwaystation opened #4 "Add best alignment score to abpoa_res_t"
Hi @yangao07,

happy to see that abPOA is outperforming https://github.com/rvaser/spoa!

As indicated in #2, we are now trying to replace SPOA with abPOA in https://github.com/ekg/smoothxg/blob/57a9d568aec44986b8293ac1f33c1b128b8a0d46/src/smooth.cpp#L60.

I am hanging at the following:
When aligning a sequence to the abPOA graph, I need to know if the actual sequence or its reverse complement resu

[2020-09-24 01:30] yangao07 commented on #4
Hi Simon,

abPOA right now does align the 'reverse complementary' sequence automatically.
As already requested by Erik in #2,  I plan to add this feature recently. Also we sure can add the `best_score` to the `abpoa_res_t`.
The `rev_cigar` is simply the reversed cigar strings, nothing related to the `reverse complementary`.

Yan

[2020-09-24 05:27] ekg commented on #4
Is there any way to determine which orientation has been used? That's all
we need to know to integrate abPOA into smoothxg.

On Thu, Sep 24, 2020, 03:30 Yan Gao <notifications@github.com> wrote:

[2020-09-24 11:50] yangao07 commented on #4
Just updated the abPOA repo, please try out the ambiguous strand mode with '-s' (set `abpt->amb_strand` as `1`).
Right now, the `abpoa_res_t` has both `best_score` and `is_rc`, and  `is_rc`  denotes whether or not the best score is from the reverse complementary sequence.

[2020-09-24 12:44] subwaystation commented on #4
Awesome! That was quick.

I just tried again @ekg's example from #2 with `-s`:

[code]
![image](https://user-images.githubusercontent.com/10184961/94146256-f860a980-fe73-11ea-9999-190c84c0cfc3.png)

Now we see what we expected.
And thanks for adding `best_score` and `is_rc` into `abpoa_res_t`. That will ease our work!

[2020-09-24 12:44] #4 closed

[2020-09-25 11:05] subwaystation opened #5 "strange Segmentation fault when trying to integrate abpoa_msa subfunctions into C++ smoothxg"
Hi @yangao07 ,

I am stuck trying to integrate abPOA into `smoothxg` https://github.com/subwaystation/smoothxg/blob/78d9117df023d5618a8efdb4041d14438a787193/src/smooth.cpp#L117.

Invoking the `abpoa_msa` within the project works flawlessly.

However, I started to only use a subset of the `abpoa_msa` function, as I will need the `abpoa_res_t` and subsequently the DAG, which I want to convert into o

[2020-09-25 12:30] subwaystation commented on #5
This is kind of embarrassing for me... I did not rebuild `abPOA` with the correct `cmake` parameters...
This is solved so to speak.

[2020-09-25 12:30] #5 closed

[2020-09-30 16:49] ekg opened #6 "segfault when generating GFA"
This sequence set has pretty deep coverage, so perhaps this is causing the problem.

[smoothxg_block_1012.fa.txt](https://github.com/yangao07/abPOA/files/5307022/smoothxg_block_1012.fa.txt)

In any case, I can't get it to run with GFA output:

[code]

Here's a backtrace:

[code]

This indicates that the error is probably in generate_gfa.

Meanwhile, MSA generation appears to work:

[code]

[2020-09-30 17:21] ekg commented on #6
Up to 128 paths is fine:

[code]

But using more than 128 paths breaks:

[code]

I see that you're packing them into an array of integers. That's very efficient, but we'll need significantly more bits to scale to some of the problems we're applying abPOA to.

[2020-09-30 20:18] ekg opened #7 "Error in cg_backtrack"
When testing, I'm occasionally running into `Error in cg_backtrack.` The specific error message seems unstable, I'm getting anything from (0) to (5). When I take the sequences that generated the error and put them back into abpoa on the command line, I can't reproduce the error.

What do these errors indicate?

[2020-10-01 09:25] ekg commented on #7
I ran smoothxg under valgrind, with a change that calls abpoa in local alignment mode.

I find a lot of cases of jumps depending on uninitialized values. These could be problematic:

[code]

[2020-10-01 11:03] yangao07 commented on #7
Can you share the sequences that cause this error?

[2020-10-01 12:15] yangao07 commented on #6
Just found a silly bug in gfa generation function.
This bug happens for any input sequences with size > 64.
Will update it shortly.

[2020-10-01 12:38] yangao07 commented on #7
Also, does this only happen in local mode and not in global mode?

[2020-10-01 13:09] ekg commented on #6
Brilliant! I was wondering what that `int b` was doing :smile: . Didn't figure it out even when I looked at the MSA generation code.

[2020-10-01 13:09] #6 closed

[2020-10-02 03:45] #7 closed

[2020-10-02 05:19] ekg commented on #7
For future reference, it appears that this was caused by the bug that led to #6. When the path id unpacking was fixed, it resolved invalid memory accesses that appear to have caused this problem by writing into the scoring matrices. Apparently these were more fragile in local mode.

[2020-10-06 13:20] ekg opened #9 "[simd_abpoa_align_sequence_to_subgraph1] Error in cg_backtrack. (4)"
I finally found a small reproducible example of an alignment problem.

To reproduce on this input FASTA, [fail_smoothxg_block_3055.fa.txt](https://github.com/yangao07/abPOA/files/5334048/fail_smoothxg_block_3055.fa.txt):

[code]

[2020-10-06 13:40] yangao07 commented on #9
Thank you @ekg for providing this example.
This is a bug related to the banding.
So disable banded DP (set b as -1) is the easiest way to get rid it.
Also I am trying to figure out how to fix it.

The banded DP is more fragile when the lengths of sequences differ too much, like this data: 264 vs 443.
This happened previously, I though I fixed it.

[2020-10-07 08:13] ekg commented on #9
Any workaround (even dropping into non-banded mode when this happens) would be helpful! What do you suggest?

Running everything non-banded to avoid this issue would be expensive.

[2020-10-07 11:53] mprous1 opened #10 "Segmentation fault and mis-alignment issue"
[np_reads.txt](https://github.com/yangao07/abPOA/files/5340408/np_reads.txt)

The attached fasta file (np_reads.txt) contains 1500 Nanopore reads, all of them are in the same orientation.

Command used:
abpoa -A -r1 np_reads.txt > output.fas

1) abPOA does not finish alignment of that many reads and stops: “Segmentation fault (core dumped)”. The RAM consumption was about 1.4 GB on my laptop, which

[2020-10-13 19:15] rvolden commented on #9
I'm also running into this issue when using the python API. Instead of being able to handle the error, the thread that gets the error just hangs since this error kicks you out of python. Is there a way for me to be able to handle this error through the python API? Disabling adaptive banding takes too long.

[2020-10-13 19:42] ekg commented on #9
There is now a flag on the result object that indicates if the traceback
was OK. It's not propagated to python.

On Tue, Oct 13, 2020, 21:15 Roger Volden <notifications@github.com> wrote:

[2020-10-14 01:41] yangao07 commented on #9
@rvolden As mentioned by Erik, this new flag is not added in pyabpoa right now, I will get it done sone.
However, I didn't implement the ambiguous strand mode in python for now.
So I guess what you met is different from what Erik posted here.
Can you share with me the sequences that cause the error? That would very helpful.
Thanks.

[2020-10-14 01:47] yangao07 commented on #9
Anyway, the ultimate goal is to fix this bug instead of just break the loop and not provide any alignment result.
I am working on that.

[2020-10-14 03:17] rvolden commented on #9
You're right, the traceback error is 2, not 4. It's for a pairwise alignment where one has a long polyA but the other doesn't.
I'm including the initialization as well as the sequences here
[code]
[code]

[2020-10-14 09:16] yangao07 commented on #9
I modified the codes of the traceback part in the latest commit. Hopefully, this can resolve these bugs.
 I also removed the trackback_ok flag, since it is not needed if we can finish the traceback step.

@ekg @rvolden This works on the two sequence sets you guys provided here, please try it out on some other data.

Yan

[2020-10-14 12:20] yangao07 commented on #10
Hi @mprous1 , please try out the latest commit of abPOA. The seg-fault error should be fixed now.
For 2, however, I don't see why you call these reads being 'mis-aligned'.
They do differ a little bit from other sequences, but their alignment results look reasonable to me.
Let me know you have more thoughts about that.
Yan

[2020-10-14 13:20] yangao07 commented on #10
The misalignment could be fixed by using a larger band width.
For example, with `abPOA -f0.05 -Ar2`, the alignments of these reads look the same to others.
Generally, for input sets with very divergent lengths, in order to get near-optimal alignments, set `b` or `f` to a larger value is advisable.

[2020-10-14 19:51] ekg commented on #9
Unfortunately, I still find cases that cause this error.

[fail_smoothxg_block_9338.fa.txt](https://github.com/yangao07/abPOA/files/5380527/fail_smoothxg_block_9338.fa.txt)

[code]

[2020-10-14 21:58] rvolden commented on #9
I don't get the error for python2, but I get it in python3. The only modification I made to the makefile for python3 was to change the command to python3 instead of python:
[code]
To clarify, this is python 3.6.9, and the error I get with the same sequences I provided is `[simd_abpoa_align_sequence_to_subgraph1] Error in cg_backtrack. (2)`

[2020-10-15 01:29] yangao07 commented on #9
@ekg This is a different case and different type of bug. Working on that.
Before I fix it, you probably want to roll back to the version where you added the traceback flag.

[2020-10-15 01:29] yangao07 commented on #9
Nothing was changed related to the python side. Did you re-install pyabpoa in python3?

[2020-10-15 01:48] rvolden commented on #9
Yeah, I reinstalled using pip3 for python3

[2020-10-15 01:58] yangao07 commented on #9
These changes have been pushed to the pypi. So `pip3 install` will give you the old one.
To install locally from source, try `make install_py` or `python3 setup.py install`.

[2020-10-15 02:14] rvolden commented on #9
I should've been a bit more clear. I did `make install_py` after modifying the make file. When it didn't work, I tried reinstalling using pip, and I also tried `python3 setup.py install`, which also throws the traceback error

[2020-10-15 02:22] yangao07 commented on #9
This really sounds weird to me. Also, it works on my pc when I install with python3.
Maybe you can try to remove everything and reinstall it.

[2020-10-15 04:09] rvolden commented on #9
Removed everything previously installed. It's working now. Thank you!

[2020-10-16 07:39] mprous1 commented on #10
Thanks! I will have a look.

[2020-10-20 16:53] glennhickey opened #14 "Is there any way to reduce memory consumption?"
Hello, I'm experimenting with adding abPOA as an option within [cactus](https://github.com/ComparativeGenomicsToolkit/cactus) ([manuscript](https://www.biorxiv.org/content/10.1101/730531v1)).  Thanks for making a great tool -- it's amazingly fast.

I was wondering if there's a way to reduce memory consumption, however, in order to increase the sequence lengths I can run on.   Right now it seems ro

[2020-10-21 01:25] yangao07 commented on #14
Hi Glenn, you are right.
Right now, the banding in abPOA only reduces the time, not the memory, so it is still quadratic.
I do plan to reduce the memory consumption in different ways, but I haven't implemented it yet.
Will let you know if I have any progress.

Yan

[2020-12-14 16:25] NatPRoach opened #15 "Error in logic for read ID labeling at source node"
Hello,
I'm working on binding abPOA in nim for a project I'm working on and I think I stumbled upon an error in the logic of the function `abpoa_add_subgraph_alignment`. Specifically related to the labeling of read IDs in the source node. At several points in this function there's a line:
`if (last_id == beg_node_id && beg_node_id != ABPOA_SRC_NODE_ID) w = 0, add = 0; else w = 1, add = 1;`

I _thi

[2020-12-15 03:40] yangao07 commented on #15
Hi Nathan,

I did intend to add the read id and edge weight to the virtual start/source node in abpoa graph.
Otherwise, it will lead to a wrong result sometimes in the consensus calling step.

Yan

[2020-12-15 03:42] yangao07 commented on #15
Also, thanks for your interest in abPOA, and hope it works well in your project!
Let me know if you meet any issues in the future.

Yan

[2020-12-15 16:10] NatPRoach commented on #15
Hi Yan,
Thanks for the prompt response! Apologies for my misunderstanding!

In that case is there a reason that the first sequence inserted in to the graph doesn't get its read ID added to the source node? Seems like when the graph is empty and the first sequence is added in the source node doesn't get labeled with the first read ID. Such that if aligning two identical short sequences to one anoth

[2020-12-16 05:47] yangao07 commented on #15
I checked the code and found that there is indeed a bug related to the read id assignment.
Fixed it in the latest commit. Now the source id will be assigned with all the read ids.
Thanks for catching and pointing out this bug!
Yan

[2020-12-16 15:38] NatPRoach commented on #15
Awesome, thank you for the quick turnaround!
No problem at all!

[2020-12-16 15:38] #15 closed

[2021-01-12 11:20] huguesrichard opened #16 "Incremental update of the graph"
Hello,

Thank you very much for abPOA, it is a nice tool, installation was fast and easy.

I would like to be able to incrementally update the POA graph. That would be very practical to use the graph as a compressed aligned version of the sequences and to add sequences to it as they accumulate over time.

Typical use case would be to first generate a graph (for instance in gfa format) and then to

[2021-01-12 14:40] yangao07 commented on #16
This is theoretically doable, I will give it a try.
I will post the updates here when it's ready.

Yan

[2021-01-17 21:14] rlorigro commented on #14
I would also like to express my interest in resolving this issue :+1:  It would be really nice to be able to take full advantage of the banding.

[2021-02-02 09:07] huguesrichard commented on #16
Hello again,

As a complement to my previous request, the gfa graphs produced by abPOA are usually quite huge and it was easy to transform it to unitigs using Heng Li's `gfatools`, e.g.
`gfatools` asm -u graph.gfa > graph_unitig.gfa`

That would be great if `graph_unitig.gfa` could be provided to abPOA as input. The graph can then practically be used as a database for short sequences.

Hugues

[2021-02-03 11:24] dbrami opened #17 "MSA to GFA"
Hello,
Thank you for this wonderful, cross-platform tool!
Is there a way to use this tool to go from an existing MSA to GFA? This would be my "starter" graph;
Then I would use your upcoming "incremental" option to add either new MSA's or new sequences to it...

[2021-02-04 14:33] yangao07 commented on #17
Are you referring to the MSA format output of abPOA or other styles of MSA?

[2021-02-04 14:40] yangao07 commented on #16
Thanks for the suggestion!
I will try to add this feature in the next version.

Yan

[2021-02-04 18:39] dbrami commented on #17
Hi,
I’m thinking of a fasta style MSA

On Thu, Feb 4, 2021 at 5:34 PM Yan Gao <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2021-02-05 06:30] yangao07 commented on #17
Can you describe in more details, or give an example?

[2021-02-06 19:46] dbrami commented on #17
Of course,
Here's an example of Coronavirus alignment from GISAID
[first_20_msa_0201.fasta.gz](https://github.com/yangao07/abPOA/files/5937526/first_20_msa_0201.fasta.gz)

[2021-02-07 20:15] dbrami commented on #17
Something that does the same thing as [https://github.com/hanzou666/msa2gfa](https://github.com/hanzou666/msa2gfa)
But the above is a pure python implementation with a bunch of for loops - very slow.

[2021-02-08 08:36] subwaystation commented on #17
If you just want to go from MSA to GFA, then you could try out `vg construct`.

[code]

[2021-02-10 14:31] yangao07 commented on #16
@huguesrichard  Please try out the latest abPOA v1.1.0.
It now can incrementally align sequences to an existing GFA or MSA.
Let me know if this works for you.

Yan

[2021-02-10 14:33] yangao07 commented on #17
@dbrami I do not plan to add a feature of converting MSA to GFA in abPOA.
Right now, the latest abPOA (v1.1.0) can incrementally align sequences to an existing GFA or MSA.
For your case, maybe you can align your sequence to the MSA using abPOA directly.

Yan

[2021-02-10 22:57] huguesrichard commented on #16
Hello @yangao07,

I tried adding sequences to a gfa produced by apPOA and this worked directly.
That's really a great feature, thank you!
I will try it out a little more in the next days and let you know if I see anything strange on the resulting MSAs.

I also tried with a gfa simplified to unitigs (using Heng Li's `gfatools`) but in this case abPOA did not recognise the gfa file.

Also, that woul

[2021-02-10 22:58] huguesrichard commented on #16
Also, I could not get access to the release, I guess it was not published yet.

[2021-02-11 09:44] yangao07 commented on #16
I haven't pushed it to the release yet.

The unitigs by gfatools have no `P` lines, which are required for incremental graph alignment, that is why it is not supported.
On the other hand, I think it is not hard for abPOA to output GFA with unitigs. I will try to add this feature.

[2021-02-12 15:04] huguesrichard commented on #16
a graph output with unitig would be really really helpfull. From my small tests on viral genomes I had around 50-fold  compression generating the unitig version.

[2021-02-14 09:41] dbrami commented on #17
Dear @subwaystation and @yangao07,
All though your answers are seemingly brief and seemingly simple, these have been a **tremendous** help.
Thank you

[2021-02-14 09:41] #17 closed

[2021-04-21 18:07] glennhickey opened #18 "ARM support?"
Have you considered supporting other architectures, such as ARM, in abpoa?  They're becoming increasingly popular due to Apple and Amazon, among others.

One way to try without rewriting everything is with a wrapper layer like  https://github.com/simd-everywhere/simde

[2021-04-22 09:24] yangao07 commented on #18
Thanks for the suggestion. That should be an easy update to make.
I will let you know when it is ready.

Yan

[2021-04-29 16:44] christopher-vollmers opened #19 "pip install fails on multiple machines"
Hi,

I've been trying to install pyabpoa and on multiple machine the install fails with

`src/abpoa_align.c:6:10: fatal error: 'abpoa_seq.h' file not found
    #include "abpoa_seq.h"
             ^~~~~~~~~~~~~
    2 warnings and 1 error generated.
    error: command '/usr/bin/clang' failed with exit status 1`

Any idea what's going on there?

Thank you,
Chris

[2021-05-01 19:17] alicecsq commented on #19
Hi,
I also got a very similar error when I tried to pip install pyabpoa.

src/abpoa_align.c: At top level:
    src/abpoa_align.c:6:10: fatal error: abpoa_seq.h: No such file or directory
     #include "abpoa_seq.h"
              ^~~~~~~~~~~~~
    compilation terminated.
    error: command '/usr/bin/gcc' failed with exit code 1

Can you please help?

Thank you!
Alice

[2021-05-04 03:54] yangao07 commented on #19
Hi Chris and Alice,

Sorry about the installation error.
It should be fixed now, please try re-install pyabpoa with `pip install pyabpoa==1.1.4`.
Let me know if you still get any error messages.

Yan

[2021-05-15 10:25] yangao07 commented on #14
Hi Glenn,

In the latest version of abPOA ([v1.2.0](https://github.com/yangao07/abPOA/releases/tag/v1.2.0)), I implemented minimizer-based seeding before POA, this can reduce the memory usage for long input sequence.
For most of the time, it can produce nearly the same or even better alignment result.

Please try it out and let me know if this works for you.

Yan

[2021-05-15 10:29] yangao07 commented on #2
Hi @ekg ,

I added a minimizer-based seeding in the latest version of abPOA ((v1.2.0)[https://github.com/yangao07/abPOA/releases/tag/v1.2.0]).
It can reduce the memory usage for very long input sequence, e.g this DRB1.

[2021-05-15 12:32] glennhickey commented on #14
Great!  This is perfect timing since I was just about to review some of what I'd been doing for stitching alignments together.  I'll try it out on Monday.
Thanks!

[2021-05-15 20:43] ekg commented on #2
That sounds really useful. Limitations on the length of the POA length
cause a lot of problems. What kind of procedure are you using for the
seeding?

On Sat, May 15, 2021, 12:29 Yan Gao ***@***.***> wrote:

[2021-05-16 02:24] alicecsq commented on #19
Hi Yan,
       Thank you so much! This works now.

Best,
Alice

[2021-05-16 05:31] #19 closed

[2021-05-16 05:43] yangao07 commented on #2
The seeding step is actually very simple.
I collected all the minimizer hits between two sequences based on the input order.
Then, I applied a similar chaining strategy as used in minimap2 to find all the co-linear chains, but not allowing large gaps.
Lastly, all the non-overlapping co-linear chains are chained together to produce the final chaining result, which guides the POA in the next step.

[2021-05-16 09:52] ekg commented on #2
How do you choose the reference sequence for the seeding?

On Sun, May 16, 2021, 07:43 Yan Gao ***@***.***> wrote:

[2021-05-16 12:05] yangao07 commented on #2
Based on the input order, the i-th sequence is the reference for the (i+1)-th.

[2021-05-16 13:44] ekg commented on #2
That's very pragmatic. Other strategies might be more sensitive, but could
have much higher performance costs. If we can order the input sequences as
they would sit in a neighbor joining tree, we might be able to get that to
perform as well as possible.

On Sun, May 16, 2021 at 2:05 PM Yan Gao ***@***.***> wrote:

[2021-05-16 13:45] ekg commented on #2
What are the longest sequences you've tested this on?

On Sun, May 16, 2021 at 3:44 PM Erik Garrison ***@***.***>
wrote:

[2021-05-17 01:44] yangao07 commented on #2
The longest one is actually just this DRB1.

[2021-05-17 06:14] ekg commented on #2
I will share some slices of a human chromosome that are from 10kb to 1mbp.

On Mon, May 17, 2021, 03:44 Yan Gao ***@***.***> wrote:

[2021-05-17 07:41] yangao07 commented on #2
That will be great.
Curious what will happen if we feed abPOA with that long sequences.

[2021-05-18 08:39] yangao07 commented on #14
@glennhickey, just updated abPOA to [v1.2.1](https://github.com/yangao07/abPOA/releases/tag/v1.2.1), removes a redundant sorting step which is very time-consuming.

[2021-05-18 08:42] yangao07 commented on #2
Just updated to [v1.2.1](https://github.com/yangao07/abPOA/releases/tag/v1.2.1).
Removes a redundant and very time-consuming sorting step.

[2021-05-18 13:18] glennhickey commented on #14
Thanks for letting me know.  I'm switching to 1.2.1 now.  My 1.2.0 tests have been okay so far: it passes all Cactus unit tests, and let me disable our current stitching logic on a bigger run.  I'll do a much bigger test this week and report the results.

[2021-05-19 12:00] glennhickey commented on #14
Do you have a sense of the maximum sequence lengths I can pass in while using the seeding?  I just got an error
[code]
when I allowed up to 1mb.  Thanks.

[2021-05-19 13:02] ekg commented on #14
@glennhickey what alignment parameters are you using?

[2021-05-19 13:25] glennhickey commented on #14
@ekg I'm still using default everything.  I haven't yet explored the parameter space much despite meaning to for a while, especially in the context of alignments between more distant species.

Until now, I've been capping abpoa jobs at 10kb (and using an overlapping sliding window and stitching the results together).  Bumping this up to 1mb with the latest abpoa seemed to work on smaller tests but

[2021-05-19 23:08] glennhickey commented on #14
I'm getting failures even on datasets that ran before (without the seeding)
[code]

[2021-05-20 02:20] yangao07 commented on #14
@glennhickey Can you share the dataset that causes the error/failure?

[2021-05-20 12:18] glennhickey commented on #14
Sure.  I'll need to hack cactus a bit to spit it out, but should be able to do that soon.

[2021-05-20 12:26] glennhickey opened #20 "Feature request: Allow specification of full scoring matrix"
Only a match score and mismatch penalty are available now.  Would it be possible to allow specification of a full matrix?  We would like to be able to, for example, use the default lastz scoring matrix referred to here: http://www.bx.psu.edu/~rsharris/lastz/README.lastz-1.04.03.html#options_scoring

As far as I can tell, this is just requires additional interface given that a [full matrix seems to

[2021-05-20 14:30] glennhickey commented on #20
On a slightly related note:  I've noticed that abpoa can give quite different results when I do things like scale all the parameters up by the same value.  Is this by design?  Are there any maximums or hidden paramters that can affect this?

[2021-05-21 01:47] yangao07 commented on #20
1. abPOA allows three gap penalty modes: convex, affine and linear.
So match(-M), mismatch(-X), gap-open(O), and gap-extension(E) all can be specified by users.
So how come

2.

How did you scale the parameters? Did you only scale the match/mismatch or all the scoring parameters?

Yan

[2021-05-21 01:50] yangao07 commented on #20
This should be easy to update. I will work on that.

[2021-05-21 16:53] glennhickey commented on #20
Thanks!

About the scaling being inconsistent:  I was unable to reproduce an example to send you.  I must have been mistaken when I thought I saw this happen.  If I can find an example, I'll send it right away.  In the meantime, sorry!

[2021-05-24 13:16] glennhickey opened #21 "Option to switch off logging messages"
Would it be possible to add an option to disable the logging messages to stderr?  I think they all come from `err_func_format_printf()` and start to dominate the logs from my client code that calls abpoa repeatedly.  Thanks so much!

[2021-05-25 00:26] yangao07 commented on #21
How abouth simply `abpoa in.fa > out.fa 2> /dev/null`?
Do this solve your problem?

[2021-05-25 17:58] glennhickey commented on #21
No, I'm using the abpoa api in my own executable where abpoa gets run (simultaneously in different threads) thousands of times.  So my own log messages, which get output to stderr, are buried under thousands of abpoa messages.

[2021-05-26 01:46] yangao07 commented on #21
OK, I see.
I just removed those log msg in the recent commit.
Please check it out.

[2021-05-26 20:54] glennhickey commented on #21
Thanks so much!

[2021-05-26 20:54] #21 closed

[2021-05-26 23:38] glennhickey commented on #14
I was just about to send another error segfault I got *without* seeding
[code]
But realized when I built with a newer `-march` it worked.  More specifically, upgrading `-march=nehalem` to `-march=haswell` fixed it.  (Cactus had previously built against nehalem to maximize portability for releases).  I think it's pretty likely the problem I mentioned above is related to this.

[2021-05-27 02:46] yangao07 commented on #14
@glennhickey I did not get any error on my computer for this data.
However, I did notice a big difference when using the scoring parameter you mentioned.
Not only causes different MSA output but also eats a bigger memory and requires a longer run time.
[code]
For seeding mode:
[code]

[2021-05-27 12:53] glennhickey commented on #14
Yes, that data works for me now too.  I just thought it was interesting as that command line was the first I found that did not work on architectures older than haswell, so to reproduce the crash you'd have to build with `-march nehalem` instead of `-march native` (or use a computer that's more than 7 years old).

While the scoring parameters make a big difference in runtime, they also seem to hel

[2021-05-28 08:44] yangao07 commented on #20
Check out the latest commit of abpoa (v1.2.2), which now takes a new parameter `-t score.matrix`.

[2021-05-29 00:37] glennhickey commented on #20
Thanks!!!

[2021-05-29 00:37] #20 closed

[2021-05-31 23:57] glennhickey opened #22 "abPOA seems unstable with HOX scoring matrix"
I noticed abPOA returning some bizarre alignments when running with a scoring matrix.  In my Cactus output, it would lead to a lot of cases of identical sequences getting useless gaps (a T inserted, then a T deleted a few bases later, ex).

I tried to pull out an example to reproduce on the command line.  Instead of the wrong alignment, it just crashes (hopefully it's the same underlying problem).

[2021-06-01 03:22] yangao07 commented on #22
I also noticed this.
It is mainly because the gap-open and gap-extension penalty are not set accordingly.
I should probably throw out an error message instead of just let it go all the way to the alignment error.

[2021-06-01 14:15] glennhickey commented on #22
Thanks!  But I still get the same `Error in cg_backtrack` with the above commands.  It does now run through without the -N, but it still seems like there's an issue?

[2021-06-01 14:54] glennhickey commented on #22
Actually, there is a small difference in the error message numbers.  With 1.2.2 I get
[code]
and 1.2.3
[code]

[2021-06-01 19:56] glennhickey commented on #22
Will just add that 1.2.3 does improve accuracy a bit over 1.2.2, but does not seem to fix the issue.  On one test I've been looking at, I get:
1.2.2 or 1.2.3 with seeding enabled: ~690 errors
1.2.2 with no seeding: ~10000 errors
1.2.3 with no seeding: ~5500 errors

To me, this is evidence (along with that crash) that there are still problems in abpoa, likely related to overflows from the larger sc

[2021-06-02 02:02] yangao07 commented on #22
You are right, a similar bug still exists, also related to the match/mismatch score, :(.
Let me fix it.
Apologize for the inconvenience.

Yan

[2021-06-02 21:01] glennhickey commented on #22
Thanks again for your fast response!  This version fixes the crash, but unfortunately only reduces the overall number of wrong alignments I'm seeing by a small amount.  It really does continue to look like a numerical stability issue.  Do these scoring parameters just lead to scores that are too big to fit in the simd registers you are using?  Is it possible to estimate the maximum matrix size I c

[2021-06-03 08:50] yangao07 commented on #22
The largest number that fits in the SIMD register is int32, so it should be OK.
Even for 10kb-long sequences (I guess you're talking about the length), they should be fine.

Yes, giving me an example will definitely help!

Yan

[2021-06-03 19:46] glennhickey commented on #22
Oops, this was my fault.  I updated to the latest abPOA but did not change my client code to initialize `max_mat` and `min_mis`, so was not properly using your fix.  Correcting this, I get the expected results on my tests:
* better accuracy with the matrix than the default parameters
* better accuracy without seeding (instead of the other way around)

Sorry about the confusion, and thanks again!

[2021-06-03 19:46] #22 closed

[2021-06-15 00:30] hcstubbe opened #23 "Can't install versions later than 1.0.2 using pip on Ubuntu 20.04 LTS in Docker"
On Ubuntu 20.04 LTS (and on Debian) I cannot freshly (i.e. without earlier versions installed) install the later versions of pyabpoa using pip. The only workaround is to install version 1.0.2 and then update. This makes installing pyabpoa in a docker image extremely hard.

Error message:

#16 1.411   Downloading pyabpoa-1.2.4.tar.gz (138 kB)
#16 1.604 ERROR: Files/directories not found in /tmp/pip

[2021-06-15 01:45] yangao07 commented on #23
This is weird, I can not reproduce your error on my machine.
Does installing it from the source files work for you?https://github.com/yangao07/abPOA/tree/master/python#install-pyabpoa-from-source

Yan

[2021-06-15 11:38] hcstubbe commented on #23
Hey Yan,

did You try to install it on Ubuntu without a previous installations of pyabpoa? When I run the docker build with this [Dockerfile](https://github.com/hcstubbe/r2c2_docker/blob/main/Dockerfile), later versions fail, but not version 1.0.2. This also happens on my WSL2 Ubuntu 20.04 LTS on Windows 10.
Installing from source works, but my script (using [C3POa](https://github.com/rvolden/C3PO

[2021-06-16 08:13] yangao07 commented on #23
Hi Hans,
I did reproduce this error on a machine that has no previous version of pyabpoa.
It seems like is caused by the absence of cython.
So you need to mannully
[code]
and then
[code]
This works for me.
Let me know if this fixes your issue.

Yan

[2021-06-20 21:57] hcstubbe commented on #23
Hi Yan,

thank You for looking into this! Manually installing cython before pyabpoa works!

All the best
Hans

[2021-06-20 21:57] #23 closed

[2021-06-21 19:52] ekg opened #24 "potential issue when aligning more than 1024 sequences (v1.2.4)"
Talking with @glennhickey today, we discovered that we are both struggling with a segfault that appears to occur when calling `abpoa_free_seq`. I specifically tracked it to here: https://github.com/yangao07/abPOA/blob/master/src/abpoa_seq.c#L110. It appears that this only occurs when aligning >1024 (`CHUNK_READ_N`) sequences. I am interested in the fact that the initial default allocation is for 1

[2021-06-22 03:27] yangao07 commented on #24
I run it on a test 2000 x 1000bp dataset and did not see this segfault.

As @ekg mentioned the error related to the variable `comment`  in `abpoa_seq_t`,
I suspect that you guys did not reallocate it when loading more than 1024 sequences?
But I am not very sure about this.

[2021-06-22 05:51] ekg commented on #24
How do we reallocate when there are more than 1024 sequences? We are either calling abpoa_msa or abpoa_poa to drive the alignment.

[2021-06-22 05:53] ekg commented on #24
Also, the error indicates that something else has written to the comment variable. If a memory address had been written, I don't think it would be possible to get the "high value address" that lies outside of the virtual memory of the system (in 48 bits).

[2021-06-22 08:06] yangao07 commented on #24
@ekg You are right, they should be reallocated inside the `abpoa_msa` function.
I just found that realloc bug and fixed it.
Please try the latest commit.

Yan

[2021-07-06 01:41] glennhickey opened #26 "abpoa segfaults when building with sse4.1 but not avx2"
I have been getting some rare segmentation faults from abpoa.  They only reproduce when compiling with sse4.1.  I've been using sse4.1 to increase portability as well as save on cloud costs.  I suspect maybe my input sizes and score matrices are too big for the registers used?

Here is an example that segfaults with sse4.1 but runs through with avx2 [on this architecture](https://en.wikichip.org/w

[2021-07-09 00:46] yangao07 commented on #26
Hi Glenn,
I did see this seg-fault error on my machine.
However, when I tried to trace the error using valgrind, it kept getting killed as the malloc size is too large.

Size: 68719476736

I will try to figure it out, but it may need some time.

Yan

[2021-07-30 08:50] zztin opened #27 "link to manuscript is broken"
HI Yan,
You might like to update the link to manuscript in the readme since it is broken. I found that it is now published in bioinformatics (congratulations!)
https://doi.org/10.1093/bioinformatics/btaa963

[2021-07-30 10:58] yangao07 commented on #27
Thanks! It is corrected now.

[2021-07-30 10:58] #27 closed

[2021-08-24 14:29] HopedWall opened #28 "abPOA as a library -- adding nodes to the graph"
Hello, I am trying to use abpoa as a dependency for one of my projects (https://github.com/HopedWall/rs-vgaligner), where I need to align a (sub)graph against some query sequences.

In my project each node is labelled with a sequence, so I'm trying to replicate the same graph structure in abpoa. In the `abpoa.h ` file, I noticed the `abpoa_add_graph_node` function, however it seems to only accept

[2021-08-25 07:10] yangao07 commented on #28
The nodes in abPOA graph are all 1-base nodes.
For your case, you can choose to add every single base one by one,
this is also how abPOA creates the initial POA graph using the very first query sequence.

The codes [here(L1108)](https://github.com/yangao07/abPOA/blob/main/src/abpoa_graph.c#L1108) show how to add the query sequence to the empty graph.

Yan

[2021-08-25 09:22] HopedWall commented on #28
Thanks Yan, I'll try using the function you suggested! Will keep you updated.

By the way, I also created FFI bindings for abPOA in Rust, so that even more people can use this awesome tool. Check them out at this link: https://github.com/HopedWall/rs-abPOA. Let me know what you think!

[2021-08-25 09:59] yangao07 commented on #28
Thanks so much for writing the Rust repo for abPOA! Great work!

I am still a new learner of Rust, but I think this is really nice and will make abPOA more widely used.
I will try it out sometime and maybe provide some suggestions then.

Yan

[2021-08-28 12:09] yangao07 commented on #28
If all your sequences need to be aligned with abPOA, you can simply feed them to abpoa_msa, so that it will handle all the sequences.
The very first sequence can be added manually because there is no graph to be aligned yet.
However, for the second sequence, it has to be aligned to the graph (which only consists of the first sequence) and then added to the graph based on the alignment result.
I ho

[2021-08-28 12:12] yangao07 commented on #28
If you have a graph that needs to be transformed to an abPOA graph, you have to add each node one by one, following a specific order, say DFS or BFS.
You should not simply add the linear sequence to the abPOA graph.

[2021-08-28 13:27] HopedWall commented on #28
Thanks again for your answers @yangao07.

Unfortunately my example wasn't really clear, but the sequences that I was trying to add were the labels of the nodes. I'm working with variation graphs, you can find an example [here](https://raw.githubusercontent.com/vgteam/vg/master/doc/figures/smallgraph.png).

More specifically, I'm trying to align query sequences to such graphs. So my idea was:

1. c

[2021-08-29 09:04] yangao07 commented on #28
Then you can try it this way:

Make sure you transformed every node and every edge so that you won't get an error when performing the alignment in the 2nd step.

Overall, your whole idea should work.

[2021-09-13 10:34] ldenti opened #29 "Consensus coverage in diploid mode"
Hi all,
first of all: great library!

I was playing around with diploid mode and I ran into strange segmentation faults (when freeing `cons_cov`). From what I could see, in diploid mode, `cons_cov` is not used at all:
https://github.com/yangao07/abPOA/blob/637c79fce8e703d2bb3ea1964009de9bec7d3430/src/abpoa_graph.c#L817-L818
So, I'm assuming that it's not possible to get consensus coverage in diplo

[2021-09-14 07:41] yangao07 commented on #29
You are right.
The diploid mode is not working very well as I expected, so I did not add it to the release of abPOA.
Right now, it only can provide a two-consensus result and not furhter functions were applied in there.

By the way, what is your senario of using this diploid mode? Does the result look good to you?
I may continue to update this function at some time, if not recently.

Yan

[2021-09-14 07:51] ldenti commented on #29
Ok, thanks!

I'm working on genotyping SVs and, at least from the few examples I opened in IGV, it seems to work quite well: when I clearly see two alleles in the reads, I get two consensus.

Since the weights of each consensus are quite important to me, is it possible (using the current available functions) to get the heaviest weighted consensus (in "aploid" mode) and then get a second heaviest c

[2021-09-14 10:02] yangao07 commented on #29
I will try to work on that, will get back to you when I have any updates.

Yan

[2021-09-14 12:31] ldenti commented on #29
Oh, great! Thanks!

Best,
Luca

[2021-10-11 19:06] AndreaGuarracino opened #30 "Align expanded sequences, trim them and then compute the consensus sequence"
Hi Ya~~o~~n,

I've expanded few sequences with flanking nucleotides, then I've aligned them, obtaining the MSA and consensus sequence.

However, after aligning the expanded sequences, I would like to first delete the additional nucleotides and then calculate the consensus sequence with only the unexpanded sequences, without having to recalculate the whole alignment.

Is it possible?

[2021-10-13 08:53] yangao07 commented on #30
I don't fully get your idea.
Do all the aligned sequences have flanking nucleotides? Or only a part of the sequences have?

Then, I guess what you want is to obtain the alignment/consensus for only a subset of all the input aligned sequences that have no flanking nucleotides, am I right?

Yan (I know Yao is very famous:) )

[2021-10-17 07:56] #24 closed

[2021-12-02 21:40] benedictpaten commented on #18
Any progress on this? I'm trying to build abpoa on an m1 mac and getting predictable errors:

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/13.0.0/include/hresetintrin.h:42:27: error: invalid input constraint 'a' in asm
  __asm__ ("hreset $0" :: "a"(__eax));
                          ^
In file included from src/abpoa.c:5:
In file included from src/abp

[2021-12-03 19:45] glennhickey commented on #18
I just tried and was able to get abPOA running on ARM with [simde](https://github.com/simd-everywhere/simde) using sse4.1.  It seems to work pretty well, and I think is worth considering as a replacement for API in https://github.com/yangao07/abPOA/blob/main/src/simd_instruction.h as it is more general.  It also may be more robust (ex #26).

[2021-12-03 19:47] benedictpaten commented on #18
If you can put it on a branch I can try compiling/running on an m1 mac?

On Fri, Dec 3, 2021 at 11:46 AM Glenn Hickey ***@***.***>
wrote:

--
Benedict
(calendar invites: ***@***.***,
 appointments: Kimberley Czupil  ***@***.*** ***@***.***>> or
 https://calendly.com/bpaten/30min)

[2021-12-03 23:04] yangao07 commented on #18
Hi Benedict and Gleen, it seems like an easy update. I am working on it right now.
I did look into simde previously, but then totally forgot to update abPOA :(. Sorry about that.
Give me a day or two, I will push it to the github.

Yan

[2021-12-06 09:33] yangao07 commented on #18
Please try out the branch `simde`:
[code]
I only test it on a Mac laptop.
Let me know if this works for you guys!

Yan

[2021-12-06 15:49] glennhickey commented on #18
Amazing, thanks!  Will test on a few different systems and report back.

[2021-12-06 21:27] glennhickey commented on #18
`_mm_malloc()` and `_mm_free()` seem Intel -specific. Would it be possible to switch to `posix_memalign()` and `free()`?
https://stackoverflow.com/questions/32612881/why-use-mm-malloc-as-opposed-to-aligned-malloc-alligned-alloc-or-posix-mem

The other thing is that `cpuid.h` is also intel specific.  I think for non-Intel  it may be best to just to set at whatever the ideal instruciton set is (avx2

[2021-12-07 08:18] yangao07 commented on #18
Looks like it is easy to replace `_mm_malloc` with `posix_memalign()`.

I actually do not have much knowledge about the SIMD detection step using the `cpuid.h`.
I simply copied those codes from other places.
Are the codes used in minimap2 more portable? https://github.com/lh3/minimap2/blob/master/ksw2_dispatch.c

[2021-12-07 13:54] glennhickey commented on #18
I can confirm that minimap2 builds fine with `arm_neon=1 aarch64=1` on my Graviton machine.  The Makefile.simde in minimap2 didn't work, but that seems because it has `msse4.1` hardcoded in its flags.

So I think ksw2_dispatch.c is definitely more portable.  For one thing, it does not seem to use "cpuid.h"

[2021-12-12 04:40] yangao07 commented on #18
I modified the `simd_check.c` in abPOA, now it performs exactly the same way as in minimap2's `ksw2_dispatch.c`.

I have one concern about this: for AVX/AVX512, the old `simd_check.c` checks for both CPU and OS support.
Right now, there is only detection for the CPU support, because I cannot find a similar function for `xgetbv` in ARM (maybe there is, just I am not aware of). Or, maybe it is just

[2021-12-13 14:13] glennhickey commented on #18
Thanks so much for your continued help.  I sent you an email with login credentials to an ARM machine if you're interested in using it to test  (please let me know if you didn't get it).  Even the new cpu check does not seem portable, so if you have concerns maybe leaving the old one is best?  I think the only way to move forward is to have two completely separate compilation paths: one for x86 th

[2021-12-13 15:27] glennhickey commented on #18
I will just add: this branch is very close to working.  For example, this small hack lets it build and run a small test
https://github.com/ComparativeGenomicsToolkit/abPOA/commit/9289c9b15b44f5b273db9ecf52c0db01622242aa
(not sure if it's ideal, but may be sufficient for now?)

[2021-12-14 09:10] yangao07 commented on #18
Thanks, Glenn. I can ssh into the ARM machine.
Just test it, looks like your code works fine:).

I look back into abPOA's codes and find that the simd_check() function isn't really needed, since which SIMD instruction to be used and how it is used are generally dependent on the macros `__SSE2__/SSE41__/__AVX2__`.
The only place that `simd_flag` (return value of simd_check()) is here: [simd_abpoa_a

[2021-12-15 15:05] glennhickey commented on #18
Sounds great to me!  Thanks again.

[2021-12-15 21:22] glennhickey commented on #18
One last compatibility thing is that it doesn't seem to work on ARM with clang (default Mac configuration).  It compiles (as long as -march=native is not set), but then aborts with `[simd_abpoa_align_sequence_to_subgraph] Error in cg_backtrack. (3)` on any input.  This is reproducible on ARM machine with `CC=clang make...`

[2021-12-20 12:29] yangao07 commented on #18
Just removed `simd_flag` and `simd_check()` in simd_check.c in https://github.com/yangao07/abPOA/commit/2a4df7b6eb27d1ae3b7a6ae7a6e04e5376f8fa39
Looks like it works well on both x86 Linux and the ARM Linux.

For clang, seems like the error is because that there are no SSE/AVX macros pre-defined,
so adding `-D __AVX2__`  in the Makefile should fix this (#31).

[2022-01-11 11:52] EricDeveaud opened #32 "header installation :: bad location"
Hello

using release taged archive for version 1.2.5 (https://github.com/yangao07/abPOA/releases/download/v1.2.5/abPOA-v1.2.5.tar.gz)

`make install` instatll header in a non standard location plus install non necessary stuff (*.c)
that leads to non buildable example with installed headers
see

[code]

when we check the installed include directory it will find:

[code]

we expect header to be plac

[2022-01-11 14:03] EricDeveaud opened #33 "make install using prefix does not set rpath"
Hello

using release taged archive for version 1.2.5 (https://github.com/yangao07/abPOA/releases/download/v1.2.5/abPOA-v1.2.5.tar.gz)

when abPOA is built using a prefix location  make install does not set rpath to $PREFIX/lib64

see
[code]

then

[code]

[code]

maybee you should consider adding `SET(CMAKE_INSTALL_RPATH "${CMAKE_INSTALL_PREFIX}/${CMAKE_INSTALL_LIBDIR}")
`  to CMakeLists.txt

[2022-01-11 14:57] yangao07 commented on #32
Just fixed this in the latest commit ([92e0f8a](https://github.com/yangao07/abPOA/commit/92e0f8a4f640c3a2d7d5cdc6f15322b3aaba7601)).

[2022-01-11 14:57] #32 closed

[2022-01-12 07:35] yangao07 commented on #33
Fixed this in v1.3.0.

[2022-01-12 07:35] #33 closed

[2022-02-15 03:59] yangao07 commented on #29
Hi Luca,

Sorry that I didn't update for such a long time.
Do you have any diploid example/test data?
I am updating the diploid mode of abPOA recently, any data will be very helpful!

Thanks,
Yan

[2022-02-15 10:04] ldenti commented on #29
Hi Yan,
I just extracted these two small fastas from some reads I'm working on ([hete-examples.zip](https://github.com/yangao07/abPOA/files/8067937/hete-examples.zip)): I extracted portions (substrings) of the reads covering potential heterozygous events (a deletion and an insertion).

In the zip you can also find the IGV screenshots of the two regions I considered (the alignments clearly show som

[2022-02-18 15:24] glennhickey opened #35 "progressive mode does not work with seeding"
There seems to be a conflict between `-p` and `-S`, where abpoa exits 1 and prints no output if the two options are used together.  Could you please clarify if this is a bug or intended behaviour?  If it's the latter, I think it would be good to add an informative error message.

Example.  t.fa
[code]
works fine with all combinations of -p or -S by themselves:
[code]
[code]

[code]
but not with -p

[2022-02-19 12:14] yangao07 commented on #35
Hi Glenn,

Just find out that this is a bug in the progressive mode, fixed now.

Yan

[2022-02-20 19:22] glennhickey commented on #35
Thanks for your fast response!  Here's a small example that still fails after your fix, though:

`u.fa`
[code]

A segfault this time but once again, it only fails with both `-p -S`
[code]

[2022-02-21 05:19] yangao07 commented on #35
This is another bug.
These two bugs are because of no minimizer or no minimizer hit existing.

Thanks for catching them.

Yan

[2022-02-21 12:42] glennhickey commented on #35
Thanks again!  Here's another one:

`v.fa`
[code]

Works without `-s -P`
[code]
But last row disappears with `-S -p`
[code]
[code]

[2022-02-22 04:11] yangao07 commented on #35
Another silly bug, fixed now. Thanks, Glenn!

Also one more thing, the progressive mode will work only if the seeding mode is enabled.
Otherwise, abPOA skips the progressive tree building if the seeding mode is disabled.

Right now I think separating them makes more sense, working on that now.

[2022-02-23 06:53] yangao07 commented on #35
Kind of left this bug there in the last commit by mistake.
I think we are good this time. :)

Yan

[2022-02-23 15:31] glennhickey commented on #35
Thanks, this version gets through cactus's integration tests except for one edge case -- it doesn't work always work on 1-sequence cases.  Easy enough to work around, but perhaps you still want to fix?

`w.fa`
[code]

[code]
[code]

[2022-02-23 15:32] glennhickey commented on #18
This was fixed with the simde integration.  thanks again!

[2022-02-23 15:32] #18 closed

[2022-02-24 02:43] yangao07 commented on #35
Right, just fixed it.
Rare case, but should better be fixed.

[2022-02-24 14:21] glennhickey commented on #35
It is still sometimes removing sequences in the output...
[code]

[2022-02-25 11:40] yangao07 commented on #35
This is actually a fatal bug that may result in wrong progressive tree orders.
I have to admit that I haven't tested the progressive mode on enough datasets.
Thanks so much, Glenn.

[2022-02-28 18:06] glennhickey commented on #35
Thanks!  At least the bugs were very easy to find -- better it fail completely than seem to work but do the wrong clustering.  Anyway, the current version seems to be working, but I will still try it on a much bigger dataset than I have so far...

[2022-03-15 03:52] yangao07 commented on #29
Hi,

Just pushed the latest version to github, please try out the multiple consensus sequences mode: set -d/--max-n-cons as the desired value.
Also, all the relevant variables including `cons_cov` are properly set in this mode. See [abpoa.h](https://github.com/yangao07/abPOA/blob/bfe4ac0a4945ed3eadf68282776fc816b299947e/include/abpoa.h#L101) for more details.

Yan

[2022-03-17 16:00] #35 closed

[2022-03-17 16:43] glennhickey commented on #14
Hi @yangao07 , I've been experimenting with the seeding option to run on longer sequence sizes.  It works pretty well, but I get segfaults from time to time.  Here are some examples
[code]
If I understand, the memory with seeding is much lower... but only if abpoa can find enough seeds.  If the sequences are too diverged, the memory can still explode.

If this is correct, do you think there would

[2022-03-18 16:38] ldenti commented on #29
Thanks Yan!! I'll check it out.

Best,
Luca

[2022-03-23 10:21] yangao07 commented on #14
You are right, for divergent sequences, specifically with greatly different lengths, the memory can still be very large.

The memory size is simply dependent on the graph size and the sequence length, so it can be estimated.
I can try to add a pre-calculation step for this.

Yan

[2022-03-23 15:07] glennhickey commented on #14
Thanks, that would be amazing.  Or even some kind of interface where the user passes in a MAX_SIZE parameter and abpoa exits 1 instead instead of trying to allocate >MAX_SIZE would be very helpful.

[2022-03-23 15:29] glennhickey opened #36 "abPOA puts big gap in middle of sequence"
I'm aligning a short sequence to a very long one, and they look like
[code]
When I align them with abpoa, it puts the gap in the middle
[code]
But I'd much rather have an alignment like
[code]
I can understand that, strictly speaking, with the global alignment scoring model, there isn't much difference between these two scenarios, in practice I think the second one is always preferred.  Do you thi

[2022-03-23 19:05] glennhickey commented on #14
oops, exit isn't much better than running out of memory -- would have to be a return code or exception.

[2022-03-24 17:57] benedictpaten opened #37 "abPOA seeds"
Hi @yangao07 , I've been experimenting a little with the seeding in abpoa and am wondering if it would be possible to add an option for users to provide alignment seeds? My issue is that for more divergent sequences minimizers are not very ideal for anchoring. I have found more luck using maximal unique matches (MUMs), using a chaining process more like that in the original MUMmer program. Looking

[2022-03-25 09:27] yangao07 commented on #37
Yes, theoretically, abPOA could take any type of seeding and chaining result to guide the POA process.
I choose the minimizer simply out of speed consideration.
Using a more mature seeding method (MUM) is definitely preferable for divergent sequences.

I think adding an option to take MUM seed/anchor as input is much easier than implementing it inside abPOA directly.
Only concern is that we need a

[2022-03-25 12:13] brendanf commented on #3
As far as I can tell, in SPOA this is simply implemented by weighting each incoming base by its quality score; i.e., instead of incrementing the count for each node by 1 each time a new sequence aligns to it, increment it by the quality value for the base which aligns to the node.  The quality scores are integers, so nothing else needs to change about the data structure or consensus-calling algori

[2022-03-25 15:37] benedictpaten commented on #37
Hi Yan,

That is great news. As a strawman, I'd suggest using PAF format to take a
set of pairwise anchors? Or do you prefer the anchors to be across multiple
sequences?

On Fri, Mar 25, 2022 at 2:27 AM Yan Gao ***@***.***> wrote:

--
Benedict
(calendar invites: ***@***.***,
 appointments: Kimberley Czupil  ***@***.*** ***@***.***>> or
 https://calendly.com/bpaten/30min)

[2022-03-25 15:43] AndreaGuarracino commented on #30
Hi @yangao07, any update on this?

[2022-03-28 03:13] yangao07 commented on #30
See above, is that what you want?

[2022-03-28 03:38] yangao07 commented on #37
PAF format is nice. To feed abPOA, we only need to record which anchor comes from which sequence in the PAF file.
Across multiple sequences may be too stringent, could lead to too few seeds.
I think pairwise should be just fine. Specifically, we just need the anchors between every two adjacent sequences.
The order could be the input order or the order determined by a progressive guide tree (you al

[2022-03-28 03:51] yangao07 commented on #3
You are right, it is straightforward. Let me work on this.

[2022-03-28 07:34] AndreaGuarracino commented on #30
I apologize, I didn't realize you were waiting for confirmation from me. Yes, I want the consensus of the original (unexpanded) sequences, as you wrote.

[code]

As I said, the consensus sequence can't be simply trimmed (this leads to rare bugs) but has to be generated starting from the original (unexpanded) sequences, using the alignment that we've got when we aligned the same sequences together

[2022-03-28 15:47] benedictpaten commented on #37
Yes, if you can create a function for this, then we can definitely specify
use this. If you prefer to create some kind of object to define the seeds
we can also work with that. Thanks,

Benedict

On Sun, Mar 27, 2022 at 8:39 PM Yan Gao ***@***.***> wrote:

--
Benedict
(calendar invites: ***@***.***,
 appointments: Kimberley Czupil  ***@***.*** ***@***.***>> or
 https://calendly.com/bpaten/30min)

[2022-03-28 16:34] glennhickey commented on #37
I think for Cactus,it's important to have an API to pass the anchors in via a struct (as opposed to FILE*).  Whether that struct is PAF-based or not is less important.

Also, if we are going to keep using abPOA's progressive ordering, then we'd need an API to get that (if it's not already there) before computing the mum anchors. Something like
[code]

thanks!

[2022-03-28 20:00] benedictpaten commented on #37
Yes, totally agree, Glenn.

On Mon, Mar 28, 2022 at 9:35 AM Glenn Hickey ***@***.***>
wrote:

--
Benedict
(calendar invites: ***@***.***,
 appointments: Kimberley Czupil  ***@***.*** ***@***.***>> or
 https://calendly.com/bpaten/30min)

[2022-04-01 15:14] adcosta17 opened #38 "Change in abpoa_msa function signature"
Hi,

I have abPOA integrated within another tool and I'm using it for consensus calling. I've been using the abpoa_msa function as previously described in the example.c file. With the latest version of abPOA I noticed that the signature for this function has changed, mainly it no longer allows for a consensus to be saved to a string in memory, but now expects only a C FILE pointer to write the out

[2022-04-01 15:26] glennhickey commented on #38
I ran into this too...  it moved into [abpoa_cons_t](https://github.com/yangao07/abPOA/blob/5140da18e0b07554b41746928e4e7ec5b414ac77/src/abpoa.h#L102-L112) which gets made by apoa_msa via the [abpoa_t](https://github.com/yangao07/abPOA/blob/5140da18e0b07554b41746928e4e7ec5b414ac77/src/abpoa.h#L133) input. You can leave the FILE pointer NULL.

[2022-04-02 02:14] yangao07 commented on #38
@glennhickey is right, [abpoa_cons_t](https://github.com/yangao07/abPOA/blob/5140da18e0b07554b41746928e4e7ec5b414ac77/src/abpoa.h#L102-L112) includes a set of variables related to consensus calling result.
For FILE point, leave it as NULL if you want to store consensus in variables, example.c shows how to use it.

[2022-04-02 02:14] #38 closed

[2022-04-02 02:19] adcosta17 commented on #38
I made the changes and its working well.
Thanks!

[2022-05-16 09:41] ldenti opened #39 "make vs cmake"
Hi,
is there any difference in building abpoa using make or cmake (e.g., missing optimization..)?

Best,
Luca

[2022-05-17 17:51] yangao07 commented on #39
It should be the same.

[2022-05-17 17:52] ldenti commented on #39
Thanks!

[2022-05-17 17:52] #39 closed

[2022-06-09 16:13] yangao07 commented on #3
Try the latest abPOA which could take base quality scores as weights.

[2022-06-09 16:13] #3 closed

[2022-06-10 21:37] yangao07 commented on #14
Hey @glennhickey , I am working on adding some interfaces related to memory usage by abPOA.
Here is what I have done for now:
Added 3 variables in abpoa_t: `status/req_mem`.
For `status`, 0 means success, 1 means not enough memory, and 2 means other errors.
`req_mem` indicates the size of memory abPOA tried to allocate but failed.

This way, by checking the `status` variable, users can choose to r

[2022-06-11 09:46] brendanf commented on #3
Thanks, this is great!

[2022-06-13 13:08] glennhickey commented on #14
Wow, I'm happy to hear that you're thinking about this!

If I call abpoa, it fails a malloc, and instead of crashing it sets status to 1 and returns normally, that would be a big help indeed and I'd definitely like to try it out.

I would still be a bit worried though, because I run abpoa in a bunch of different threads on cloud instances, so I could imagine a case where a big malloc succeeds and

[2022-06-13 19:39] yangao07 commented on #14
I have thought about using the size limit.
The concern is that the size abpoc allocates is the virtual size, not the resident size, and the virtual size could be much larger than the physical memory of the computer.
I am not sure how to properly set the size limit, do you have any idea?

[2022-06-14 16:40] glennhickey commented on #14
ok, I think I understand better now, thanks.  I was (probably naively) hoping it was simple for you to detect how far from the band it'd gotten and abort before overrunning the memory.  I'll try to see with some of my colleagues who know more about virtual address spaces than I do.

[2022-10-14 11:16] cjw85 opened #41 "PyPI package does not install"
Under Python 3.8, Linux x86 the source package is fetched (there's only a Python 3.7 wheel) but fails to install.

[code]

[2022-11-07 23:49] Sakshamgoel commented on #41
I was facing the same issue, and I tried downloading the .tar.gz file and installing, as you recommended. It still gives the same error, exactly as the one @cjw85 gets.

[2022-11-08 00:46] yangao07 commented on #41
This might be due to the cached file, you can try to add `--no-cache-dir` in your installation command.

[2022-11-08 21:36] Sakshamgoel commented on #41
Thanks for the help @yangao07 . However, that doesn't work either.

[2022-11-08 23:33] yangao07 commented on #41
OK, how about specifying a version number, like: `pip install pyabpoa==1.2.5`?

[2022-11-09 04:15] defendant602 commented on #41
I got the same error, and I tried < pip install pyabpoa==1.2.5 >,  but still got the same egg-info error.

[2022-11-09 07:51] cjw85 commented on #41
@yangao07 how did you build the source distribution, it appears simply to be invalid.

[2022-11-09 18:55] yangao07 commented on #41
The uploaded file was built with command `make publish_pypi`.

[2022-11-09 18:56] yangao07 commented on #41
I cannot reproduce this error.
The last thing I could suggest is to build pyabpoa from source:

[code]

[2022-11-10 11:24] cjw85 commented on #41
The error can be reproduced using a minimal python docker image:

[code]

[2022-11-10 23:07] yangao07 commented on #41
Thanks @cjw85 , I can reproduce it now. Also I see this error when I use my system python:
`/usr/bin/python3 -m pip install pyabpoa`.

Usually I use conda python/pip and it always works well.

I will try to figure out how to fix this error when using the system python.

[2022-11-10 23:41] yangao07 commented on #41
This error might be related to the python package building process. Although I have no clue to fix it right now.

Here is my new finding:
In the docker environment, where any pyabpoa was never installed, after I installed it from the source (and uninstalled it), I could successfully install any version of pyabpoa with pip without that error.

[2022-11-22 08:10] subwaystation commented on #26
@yangao07 Are there any updates here? We observe the same problem when running local abPOA in pggb.

[2022-11-22 08:13] subwaystation commented on #26
@glennhickey Taking a look at your architecture, it does not support SSE 4.1 if I see that correctly? https://en.wikichip.org/wiki/intel/xeon_e5/e5-2686_v4#Features

[2022-11-22 14:17] yangao07 commented on #26
@subwaystation , you mean segfaults with SSE4.1 but not AVX2?
Can you also share the data that causes the segfault?

[2022-11-22 17:12] glennhickey commented on #26
@yangao07 The data is at the top of this issue: https://github.com/yangao07/abPOA/issues/26#issue-937447928, just need to drop the `-N` from the command line.  It segfaults if abpoa is built with sse41=1 but not avx2=1.